<div class="col-md-12">
  <div class="col-md-12" style="margin:5px 0px;float:right">
    <label>Filter By: </label>
    <select>
      <option value="1">Yesterday</option>
      <option value="7">Last Week</option>
      <option value="10">Last 10 Days</option>
      <option value="6">Last 6 Months</option>
      <option value="12">Last One Year</option>
    </select>
  </div>
  <div class="card" style="margin-bottom:10px">
    <table>

      <tr  style="text-align:center">
        <td>Days</td>
        <td>Likes</td>
        <td>Comments</td>
        <td>Followers</td>
        <td>Views</td>
        <td>QA</td>
        <td>QP</td>
      </tr>


      <tr style="text-align:center">
        <td><span class="F16 Bold LightBlack">Today</span></td>
        <td><span class="F16 LightBlack">52</span></td>
        <td><span class="F16 LightBlack">52</span></td>
        <td><span class="F16 LightBlack">52</span></td>
        <td><span class="F16 LightBlack">52</span></td>
        <td><span class="F16 LightBlack">52</span></td>
        <td><span class="F16 LightBlack">52</span></td>
      </tr>
      <tr  style="text-align:center">
          <td><span class="F16 Bold LightBlack">7 Days</span></td>
          <td><span class="F16 LightBlack">52</span></td>
          <td><span class="F16 LightBlack">52</span></td>
          <td><span class="F16 LightBlack">52</span></td>
          <td><span class="F16 LightBlack">52</span></td>
          <td><span class="F16 LightBlack">52</span></td>
          <td><span class="F16 LightBlack">52</span></td>
        </tr>

    </table>

  </div>

</div>