<div class="" (click)="GoToTestPaper(QuesPapLink.QuestionPaperId)" style="padding: 5px;">
  <div style="border-bottom: 1px solid #f1f1f1 ">

    <div  style="display: block;">
      <span class="QuesLinkSubject"> {{QuesPapLink.subject}}</span>
    </div>
    <div style="display: block;">
      <span class="QuesLinkDescription">{{QuesPapLink.description}}</span>
    </div>

  </div>
    <table class="table">

      <tbody>
        <tr class="tabletd">
          <td>Rating:</td>
          <td>{{QuesPapLink.averagescore}}</td>
          <td class="boldtd">Question</td>
          <td>{{QuesPapLink.totalquestion}}</td>
        </tr>
        <tr class="tabletd">
          <td>Avg Score:</td>
          <td>{{QuesPapLink.averagescore}}</td>
          <td class="boldtd">Duration</td>
          <td>{{QuesPapLink.duration}}</td>
        </tr>
        <tr class="tabletd">
          <td>Attempted</td>
          <td>{{QuesPapLink.totalquestion}}</td>

          <td class="boldtd">Cost</td>
          <td>{{QuesPapLink.totalquestion}}</td>
        </tr>
      </tbody>
    </table>
  

  <!-- <div class="col-md-12 boxshadowcard">
   <div class="d-flex">
   <div class="p-2  flex-fill">
        <span class="QuesLinkBrief">
          <span style="display: block;">Question: </span>
          <span style="display: block;">{{QuesPapLink.totalquestion}}</span>
      </span>
    </div>
   <div class="p-2  flex-fill">
      <span class="QuesLinkBrief">
        <span style="display: block;">Duration: </span>
        <span style="display: block;">{{QuesPapLink.duration}}</span>
      </span>
    </div>
     <div class="p-2  flex-fill">
      <span class="QuesLinkBrief">
          <span style="display: block;">Level: </span>
          <span style="display: block;">{{QuesPapLink.level}}</span>
        </span>
    </div> 
    <div class="p-2  flex-fill">
        <span class="QuesLinkBrief">
            <span style="display: block;">Avg Score: </span>
            <span style="display: block;">{{QuesPapLink.averagescore}}</span>
         </span>
      </div>
  </div>
</div>-->
</div>