 <div class="row" style="background-color:#8a2be2;margin: 0px">
    <span style="font-size: 40px;
    padding: 5px 20px;color: white;margin: 10px;font-family: 'Oregano', cursive;">edpicker</span>
    </div>
    <div class="row" style="background-color:#8a2be2;margin: 0px;">
        <div class="col-md-7" style="line-height: 300px;text-align:center">
            <h4 style=" display: inline-block;
    vertical-align: middle;
    line-height: normal;color: white;">where seekers consume knowledge from providers</h4>
        </div>
        <div class="col-md-5">
            <div class="SideDiv">
                <div>
                    <span>Choose</span>
                    <input type="radio" name="ChooseUserType" checked="checked" class="btn" (change)="radioChange($event)" value="student" id="student"/>
                    <label for="student">Student</label>
                    <input type="radio" name="ChooseUserType" class="btn" (change)="radioChange($event)" value="institution" id="institution"/>
                    <label for="institution">Institution</label>
                </div>
                <div class="form-group">
                    <label for="usr" style="color:#303030">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username"
                        required="required">
                </div>
                <div class="form-group" *ngIf="usertype=='institution'">
                    <label for="pwd" style="color:#303030">Password:</label>
                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password"
                        required="required">
                </div>
                <div class="d-flex justify-content-between">
                    <div *ngIf="usertype=='student'">
                        <input type="button" value="Send OTP" (click)="SendOTP()" class="btn btn-signin">
                    </div>
                    <div>
                        <input type="button" value="Sign In" (click)="CheckCredentials()" class="btn btn-signin">
                    </div>
                    <!-- <button class="btn bt-success btn-block btn-lg" >Sign In</button>           -->
                    <div>
                        <input type="button" href="/SignUp" value="Sign Up" class="btn btn-signup">
                    </div>
                    <div>
                        <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
                        <a href="/ForgotPassword">Forgot Password?</a>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center small">Don't have an account? <a href="/SignUp">Sign up</a></div> -->


        </div>
    </div>
    <div class="col-md-12" style="line-height: 500px;text-align:center">

        <p class="text">FOLLOW - LEARN - IMPROVE - SHARE</p>
    </div>
    <div class="row bottomshadow" style="margin: 0px;">


        <div class="col-md-4">

        </div>
        <div class="col-md-4 d-flex justify-content-between mb-3" style="font-size: 12px;
    padding: 10px 20px;color: #8a2be2;">
            <a>terms & conditions</a>
            <a>about us</a>
            <a>report</a>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <span style="font-size: 12px;
    padding: 10px 20px;color: #8a2be2;">rights reserved with edpicker</span>
        </div>
    </div>
    <div class="login-form">
        <h4 class="modal-title">Login to Your Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password"
                required="required">
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="/ForgotPassword">Forgot Password?</a>
        </div>
        <button class="btn bt-success btn-block btn-lg" (click)="CheckCredentials()">Sign In</button>

        <div class="text-center small">Don't have an account? <a href="/SignUp">Sign up</a></div>
    </div>
