<div class="d-flex feedbackgeneraldiv">

  <div class="float-right">
    <input type="button" class="btn btn-success" value="Write"/>
  </div>
 <!-- <div class="p-2 flex-fill">
    <img (click)="AddFeedback('Like',PostId)" class="GeneralFeedbackImageIcon" [src]="ImgLikeSrc" name="likepost"/>
    <span class="GeneralFeedbackImageSpan">{{PostLike}}</span>
  </div>
   <div class="p-2 flex-fill">
    <img  class="GeneralFeedbackImageIcon" [src]="ImgCommentSrc" name="commentpost"/>
    <span class="GeneralFeedbackImageSpan">{{PostComment}}</span>
  </div> 
  <div class="p-2 flex-fill">
    <img (click)="AddFeedback('Joining',PostId)" class="GeneralFeedbackImageIcon" [src]="ImgJoiningSrc"  name="joiningPost"  />
    <span class="GeneralFeedbackImageSpan">{{PostIntrest}}</span>
  </div>
  
  <div class="p-2 flex-fill">
      <img (click)="AddFeedback('Downrate',PostId)" class="GeneralFeedbackImageIcon" [src]="ImgDownrateSrc"  name="downrate0.png" />
      <span class="GeneralFeedbackImageSpan">{{rating}}</span>
    </div>-->
</div>