<div>
    <h4 class="Color">Notifications</h4>
   <!-- <div class="d-flex">
         <div class="p-2 flex-fill" style="text-align:center">
            <button class="NavButtons" [ngClass]="value === 'Request' ? 'Active' : ''" (click)="value = 'Request'">
        Request
      </button>
        </div> 
        <div class="p-2  flex-fill" style="text-align:center">
            <button class="NavButtons" [ngClass]="value === 'Notifications' ? 'Active' : ''" (click)="value = 'Notifications'">
        Notifications
      </button>
        </div> 
        <div class="p-2 flex-fill" style="text-align:center">
      <button
        class="NavButtons"
        [ngClass]="value === 'Logs' ? 'Active' : ''"
        (click)="value = 'Logs'"
      >
        Logs
      </button> 
         </div> 
    </div>-->

    <!-- Tab panes -->
    <!-- <div [ngSwitch]="value">
        <div *ngSwitchCase="'Notifications'">
            <app-notificatio-card-a [UserNotificationList]="UserNotificationList"></app-notificatio-card-a>
        </div>
        
    </div> -->
    <app-notificatio-card-a [UserNotificationList]="UserNotificationList"></app-notificatio-card-a>
</div>