<app-navbar></app-navbar>
<div class="container" style="margin-top:85px;">
    <div class="d-flex" style="margin-top: 20px;margin-bottom: 20px;">
        <button type="button" class="btn-back" style="float: left;"><i class="fas fa-arrow-left"></i> back</button>
    </div>
    <h5 style="color:#5c5c5c"> Search Webinars @Organisers #Topics</h5>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <div style="display: flex;">
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search.."
                    style="border-radius: 0.01rem;border: 1px solid #c4c4c4;" />
                <i class="fas fa-search" style="margin-left:5px;margin-top: auto;margin-bottom: auto;color:#5c5c5c"
                    (click)="searchtextboxfilter(searchText)"></i>
            </div>
            <div>

                <div  *ngIf="searchText?.length>0"
                    style="background-color: #fafafa;top: 38px;width: 92%;position: absolute;">
                    <div class="d-flex" *ngFor="let c of characters | filter : searchText" style="padding: 5px 10px;
                border-bottom: 5px;
                margin-top: 10px;
                border-bottom: 1px solid #e7e7e6;
            ">
                        <div class="flex-grow-1">
                            <span class="onlineTopicHeading" style="display: block;" (click)="addfilter(c.username)">
                                {{c.username}}</span>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div style="padding:5px">
                <h6 style="color: #5c5c5c;">results
                    <i class="fas fa-filter F14" *ngIf="isShowFilter" (click)="toggleShowfilter()"></i>
                    <i class="fas fa-filter F14" *ngIf="!isShowFilter" style="color: #c4c4c4;"
                        (click)="toggleShowfilter()"></i>
                </h6>
            </div>

            <div class="row" *ngIf="isShowFilter">
                <div class="col-md-4">
                    <app-dropdown-a (selectedvalue)="filterDate($event)" [values]="DateFilterdata"></app-dropdown-a>
                </div>
                <div class="col-md-4">
                    <app-dropdown-a (selectedvalue)="filterPaid($event)" [values]="PaidFilterdata"></app-dropdown-a>
                </div>
            </div>




            <div style="margin-top: 20px;">
                <span class="filter-text" *ngFor="let fls of filters">
                    {{fls}} <i (click)="removefilter(fls)" style="margin-left: 5px;" class="far fa-trash-alt"></i>
                </span>
            </div>
            <div *ngIf="searchText?.length>0">
                <div style="padding-right: 1px !important;
      padding-left: 1px !important;" *ngFor="let data of PostDetails">
                    <app-online-class-d [onlineclassdata]="data"></app-online-class-d>
                </div>


            </div>
        </div>
    </div>




</div>

<!-- 
<ul *ngIf="searchText?.length>0">

    <li *ngFor="let c of characters | filter : searchText">
        {{c.username}} -- {{c.webinar}}
    </li>
</ul> -->