<div class="card" style="margin-top:5px;">
      <input type="text"  class="form-control" [(ngModel)]="EditProject.ProjectName" placeholder="Project Name">
      <input type="text"  class="form-control" [(ngModel)]="EditProject.ProjectDescription" placeholder="Project Description">
      <input type="text"  class="form-control" [(ngModel)]="EditProject.ProjectTimeline" placeholder="Project Timeline">
      <input type="text"  class="form-control" [(ngModel)]="EditProject.ProjectWith" placeholder="Project With">
  </div>