<div class="card">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div style="text-align:center;margin: 5px 0px;">
          <img src="assets/Image/employee1.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
        </div>
      </div>
      <div class="col-md-9">
        <div class="" style="padding:3px 5px 0px 5px; margin: auto;
        position: absolute;
        top: 20%; left: 0; bottom: 0; right: 20;">
          <div style="text-align:left" class="align-self-center">
            <h6 class="F24 Bold Color">{{UserWallData.username}}<img *ngIf="dataEditable" (click)="MakeEditable('username')"
                src="assets/Image/Icons/editable.png" height="10px" width="10px;"></h6>
            <div>
            </div>
            <div *ngIf="dataEditableItems.username">
              <input placeholder="Favorite food" value="{{UserWallData.username}}">
              <input type="button" class="btn bnt-sm btn-success" value="S">
            </div>
            <p class="F16 LightBlack">{{UserWallData.userstatus}}<img *ngIf="dataEditable" (click)="MakeEditable('userstatus')"
                src="assets/Image/Icons/editable.png" height="10px" width="10px;" />
            </p>
            <div *ngIf="dataEditableItems.userstatus">
              <input placeholder="Favorite food" value="{{UserWallData.userstatus}}">
              <input type="button" class="btn bnt-sm btn-success" value="S">
            </div>
            <div class="F16 LightBlack">{{UserWallData.usergrade}} <img *ngIf="dataEditable" (click)="MakeEditable('usergrade')"
                src="assets/Image/Icons/editable.png" height="10px" width="10px;" />
            </div>
            <div *ngIf="dataEditableItems.usergrade">
              <input placeholder="Favorite food" value="{{UserWallData.usergrade}}">
              <input type="button" class="btn bnt-sm btn-success" value="S">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

<!-- 
<div class="card">
  <div style="padding: 3px 10px;">
    <div>
      <span style="font-size:14px;color:#404040">Class 10 : 72%</span>
    </div>
    <div>
      <span style="font-size:12px;color: #8a8a8a">Theni Kammavar Matriculation Hr Sec School, Theni</span>
    </div>
    <div>
      <span style="font-size:12px;color: #8a8a8a"> 2010-2012</span>
    </div>
  </div> 

  
</div>-->