<div class="card100">
  <!-- <div style="padding: 10px 5px">
    <span class="F10" class="Recommended-Badge">Recommended</span>
  </div> -->

  <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader> -->
  <div class="card100-content" style="padding: 14px;">
    <div class="d-flex" style="border-bottom: 1px solid #f1f1f1 ">
      <div class="flex-grow-1">
        <div style="display: block;">
          <span class="onlineTopicHeading" (click)="GoToWebinarDetail(onlineclassdata.webinarid)">Master 'Reading
            Skills' for CBSE 10th Board</span>
        </div>
      </div>

    </div>
    <div class="descriptionshort" style="display: block;margin-top: 14px;
    margin-bottom: 14px;
    line-height: 1.75;">
      <span class="onlineTopicDescription">
        <span style="font-size: 12px;">Understand Kirchhoff's Current Law in this Live session,Learn to apply KCL and
          KVL in an Electrical CircuitUnderstand Kirchhoff's Voltage Law with some simple examples,Understand
          Kirchhoff's Voltage Law with some simple examples,Understand Kirchhoff's Voltage Law with some simple
          examples,Understand Kirchhoff's Voltage Law with some simple examples</span>
      </span>
    </div>
    <div style="margin-top: 5px;">
      <app-topic-badges-b></app-topic-badges-b>
    </div>
    <div style="margin-top: 5px;">
      <div class="scrollmenu">
        <div class="scrollitems">
          <div class="d-flex">
            <div class="p-2">
              <img src="../../../assets/Image/elonmusk1.jpg" style="width: 48px;height:48px;border-radius: 10px;">
            </div>
            <div class="p-2 flex-grow-1">
              <span class="onlineSubHeading" style="display: block;">Organiser</span>
              <span class="tutorname" style="display: block;">S.Bala Krishnan</span>
              <div style="display: block;" style="line-height: 0.25;">
                <span class="tutordescription">
                    <span>3.7 <i style="margin-left:2px;"
                            class="fas fa-star"></i></span>
                </span>
            </div>
            </div>
          </div>
        </div>
        <div class="scrollitems">
          <div class="d-flex">
            <div class="p-2">
              <img src="../../../assets/Image/elonmusk1.jpg" style="width: 48px;height:48px;border-radius: 10px;">
            </div>
            <div class="p-2 flex-grow-1">
              <span class="onlineSubHeading" style="display: block;">Organiser</span>
              <span class="tutorname" style="display: block;">S.Bala Krishnan</span>
              <div style="display: block;">
                <span class="tutordescription">13 Yrs , M.A, B.Ed </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" style="margin-top: 5px;">
      <div class="p-1">
        <span class="onlineSubHeading2" style="display: block;">when</span>
        <span class="onlineSubDescription2">3-Jun 16:30 PM,30 Mins</span>
      </div>
      <div class="p-1">

        <span class="onlineSubHeading2" style="display: block;">Participant</span>
        <span class="onlineSubDescription2"> <span class="Bold">15</span> out 15 available</span>
      </div>
    </div>



  </div>

  <div class="d-flex justify-content-end" style="margin-top: 5px;margin-bottom: 5px;">
    <!-- <div class="flex-fill">
    <span>To Participate</span>      
    <input type="button" value="more" class="regismore" style="width: 100%;" /> 
  </div> -->
    <div class="p-1" style="padding: 10px;
  text-align: center;    
  margin-top: 10px;
  margin-bottom: auto;">
      <span class="platformtag"><i class="far fa-image F20 PrimaryColor" (click)="openModal('image-modal-1')"></i></span>
    </div>

    <div class="p-1" style="padding: 10px;
  text-align: center;    
  margin-top: auto;
  margin-bottom: auto;">
      <span class="platformtag"><i class="fas fa-video"></i> {{onlineclassdata.platform}}</span>
    </div>
    <div class="p-1" style="padding: 10px;
    text-align: center;    
    margin-top: auto;
    margin-bottom: auto;">
      <span class="pricetag" *ngIf="onlineclassdata.fee!=0"> <i
          class="fas fa-rupee-sign"></i>{{onlineclassdata.fee}}</span>
    </div>


    <div class="p-1" style="padding: 10px;text-align: center;display: inline-block;">
      <button type="button" class="regisbutn apply" value="Apply" (click)="openmodal()"> <i
          class="far fa-hand-paper"></i><span>apply</span> </button>
    </div>
  </div>

</div>


<modal-a id="image-modal-1">
  <div class="d-flex">
    <div class="p-2">
      <button class="regisbutn-cancel-small" (click)="closeModal('image-modal-1');">Close</button>
    </div>
  </div>
  <div class="" style="margin-top: 20px;">
    <div class="d-flex">
      <img src="../../../assets/Image/web001.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</modal-a>


<div id="myModal" class="modalpop" [class.modal-open]="isOpen" [class.modal-close]="!isOpen">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closemodal()">&times;</span>
    <div>
      <h5 style="color: #ff8952;">Confirm Registration</h5>

      <div style="display: block;">
        <span class="onlineTopicHeading">Master 'Reading Skills' for CBSE 10th Board</span>
      </div>
      <div class="d-flex" style="margin-top: 14px;">
        <div class="p-1" style="padding: 10px;
      text-align: center;    
      margin-top: auto;
      margin-bottom: auto;
      border:1px solid #e9e9e9;
      margin-right: 5px;
      ">
          <span class="platformtag"><i class="fas fa-video"></i> {{onlineclassdata.platform}}</span>
        </div>
        <div class="p-1" style="padding: 10px;
        text-align: center;    
        margin-top: auto;
        margin-bottom: auto;
        border:1px solid #e9e9e9;
        ">
          <span class="pricetag" *ngIf="onlineclassdata.fee!=0"> <i
              class="fas fa-rupee-sign"></i>{{onlineclassdata.fee}}</span>
          <span class="pricetag" *ngIf="onlineclassdata.fee==0"> <i class="fas fa-rupee-sign"></i>Free</span>
        </div>
      </div>
      <div class="d-flex flex-column" style="margin-top: 5px;">
        <div class="p-1">
          <span class="onlineSubHeading2" style="display: block;">when</span>
          <span class="onlineSubDescription2">3-Jun 16:30 PM,30 Mins</span>
        </div>
        <div class="p-1">

          <span class="onlineSubHeading2" style="display: block;">Participant</span>
          <span class="onlineSubDescription2">15 out 15 available</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 14px;">
      <div style="margin-right: 5px;">
        <input type="button" class="regisbutn-cancel-small" value="Cancel" (click)="closemodal()" />

      </div>
      <div style="margin-left: 5px;">
        <input type="button" class="regisbutn-small" (click)="GoToTrasaction()" value="Confirm" />
      </div>
    </div>


  </div>

</div>