<div>
    <h4 class="Color">Activity</h4>


    <div class="col-md-12  ani-from-bottom">

        <div class="row container" style="margin-bottom: 30px;">

            <div class="col-md-3">
                <div class="boxshadowcard2">
                    <span class="ResultSpan">24</span>
                    <span class="F12 LightBlack" style="display: block;">Attended Web.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxshadowcard2">
                    <span class="ResultSpan">3</span>
                    <span class="F12 LightBlack" style="display: block;">Scheduled Web.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxshadowcard2">
                    <span class="ResultSpan">12</span>
                    <span class="F12 LightBlack" style="display: block;">Pending Request</span>
                </div>
            </div>
            <!-- <div class="col-md-3">
              <div class="boxshadowcard2">
                <span class="ResultSpan">1300</span>
                <span class="F12 LightBlack" style="display: block;">Pending</span>
              </div>
            </div> -->

        </div>


    </div>
    <div class="row">
        <div class="col-md-8">
            <app-online-class-c></app-online-class-c>
            <!-- <app-logs-card-a [UserLogsList]="UserLogsList"></app-logs-card-a> -->
        </div>
        <div class="col-md-4">
            <div id="scheduleofwebinar">
                <div>
                    <span class="headings-small">Schedule</span></div>
                <app-schedule-remainder-a></app-schedule-remainder-a>
            </div>
            <!-- <app-logs-card-a [UserLogsList]="UserLogsList"></app-logs-card-a> -->
        </div>
    </div>


</div>