<div>
    <h4 class="Color">activity</h4>


    <div class="ani-from-bottom">

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-3">
                <div class="boxshadowcard2" style="background-color: white;">
                    <span class="ResultSpan">24</span>
                    <span class="F12 LightBlack" style="display: block;">Attended Web.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxshadowcard2" style="background-color: white;">
                    <span class="ResultSpan">3</span>
                    <span class="F12 LightBlack" style="display: block;">Scheduled Web.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxshadowcard2" style="background-color: white;">
                    <span class="ResultSpan">12</span>
                    <span class="F12 LightBlack" style="display: block;">Pending Request</span>
                </div>
            </div>
            <!-- <div class="col-md-3">
              <div class="boxshadowcard2">
                <span class="ResultSpan">1300</span>
                <span class="F12 LightBlack" style="display: block;">Pending</span>
              </div>
            </div> -->

        </div>


    </div>
    <div class="row">
        <div class="col-md-8">
            <app-online-class-c *ngFor="let data of PostDetails" [onlineclassdata]="data"></app-online-class-c>
            <!-- <app-logs-card-a [UserLogsList]="UserLogsList"></app-logs-card-a> -->
        </div>
        <div class="col-md-4">
            <div id="scheduleofwebinar">
                <div class="card100">
                    <div class="card100-heading">
                        <h6 class="Black">Schedule</h6>
                    </div>
                    <div class="card100-content">
                        <app-schedule-remainder-a></app-schedule-remainder-a>
                    </div>
                </div>

            </div>
            <!-- <app-logs-card-a [UserLogsList]="UserLogsList"></app-logs-card-a> -->
        </div>
    </div>


</div>