ul {
    margin-bottom: 10px;
    list-style: none;
    margin-left: -25px;
}

.ResultSpan {
    font-size: 24px;
    color: #636363;
    text-align: center;
}

.HeadingSpan {
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
}

.headingsuggestion {
    text-align: left;
    padding: 5px 0px 5px 10px;
    color: #424242;
}

.HeadingCenterli {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.Centerli {
    text-align: center;
    font-size: 10px;
}

.TopicWiseScoreli {
    padding: 10px 10px 10px 0px;
}

.TopicWiseScoreSpan{
color: #8a8a8a;
}