<div style="border-bottom: 1px solid #f7f7f7;
overflow: hidden;
padding: 5px 0px;
" *ngFor="let rat of rating">
    <div class="">
        <div class="row" style="margin-left:0px;margin-right: 0px;">
            <div class="TotalHeading">
                <span class="topic-head-small-2 wordbreak" style="word-break: break-word !important;
                display: -webkit-box !important;
                -webkit-line-clamp: 1 !important;
                -webkit-box-orient: vertical !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important; ">{{rat.web_name}}</span>
                <span class="topic-desc-small-1" style="display:block"> {{rat.web_rating}} <i class="far fa-star"></i>
                </span>
            </div>

        </div>

    </div>

</div>