<div class='container2' *ngFor="let inssug of SuggestedInstitution">
  <div>
    <img src="../../assets/Image/elonmusk1.jpg" class="iconDetails" alt="" style=" border-radius: 50%;">
  </div>
  <div style='margin-left:50px;'>
    <span class="postfrom3 wordbreak" style="font-size: 14px;
    color: #404040;
    font-weight: 600;
    word-break: break-word !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;">{{inssug.insname}}</span>
    <div style="float:right;"></div>
    <!-- <span class="postsubject">+</span> -->
    <div style="font-size:.6em">
      <span class="posttime">topics match</span>
    </div>
  </div>
</div>