<div class="ani-from-bottom">
  <div class="row " style="margin-bottom: 10px;">

    <div class="col-md-3">
      <div class="boxshadowcard2" style="background-color: white;">
        <span class="ResultSpan">42</span>
        <span class="F12 LightBlack" style="display: block;">Conducted Web.</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="boxshadowcard2" style=" background-color: white;">
        <span class="ResultSpan">6</span>
        <span class="F12 LightBlack" style="display: block;">Scheduled Web.</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="boxshadowcard2" style="background-color: white;">
        <span class="ResultSpan">36</span>
        <span class="F12 LightBlack" style="display: block;">Completed Web.</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="boxshadowcard2" style="background-color: white;">
        <span class="ResultSpan">1300</span>
        <span class="F12 LightBlack" style="display: block;">Seats Filled</span>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-8">
      <app-inst-post-list (passParticipantid)="getparticipantid($event)" [walldata]="PostDetails"></app-inst-post-list>
    </div>
    <div class="col-md-4">
      <div>
        <div class="card100" id="feedback">
          <div class="card100-heading">
            <h6 class="Black">Participant Request</h6>
            <span class="F12 LightBlack">15/20</span>
          </div>
          <div class="card100-content">
            <app-participant-request-b [participantlist]="participantlist"></app-participant-request-b>
            <!-- <app-participant-request-a [participantlist]="participantlist"></app-participant-request-a> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>