.boxshadowcard2{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 14px;
    padding: 14px 10px;
}

.boxshadowcard2:hover{
    background-color: #2A8CB7;
    /* Third Primary Color */
    color: white;
}
