<div style="margin-top: 30px;">
    <div class="d-flex">
        <div class="p-2 mr-auto">
            <h5 style="margin-bottom: 10px;">Awards</h5>
        </div>
        <div class="p-2">
            <img src="assets/Image/Icons/add.png" height="18px" width="18px" style="margin-right: 20px;">
            <img src="assets/Image/Icons/edit.png" height="18px" width="18px" style="margin-right: 20px;">
        </div>
    </div>
    <div class="card" style="margin-top:10px;margin-bottom: 5px;" *ngFor="let AchList of AchievementList">
        <!-- <div class="HeaderDiv">
      <span class="Bold" style="color: #3d3d3d">Awards / Achievements</span>
    </div> -->
        <div class="ListTypeNone" style="padding:8px 20px">
            <li class="F16 LightBlack Bold lineHeight30">{{AchList.Name}}</li>
            <li class="F14 LightBlack lineHeight30">{{AchList.Description}}</li>
            <li class="F14 LightBlack lineHeight30">{{AchList.From}}</li>
            <li class="F14 LightBlack lineHeight30">{{AchList.TimeLine}}</li>
        </div>
    </div>
</div>