<div class="card card-noborder">
    <div style="text-align:center;margin-top: 20px;">
        <img src="assets/Image/employee1.jpg" class="rounded-circle" alt="Cinque Terre" width="90" height="90">
    </div>
    <div class="" style="padding:3px 5px 0px 5px;margin-top: 10px;">
        <div style="text-align:center">
            <h4 style="color:#3d3d3d">{{UserWallData.username}}<img *ngIf="dataEditable" (click)="MakeEditable('username')" src="assets/Image/Icons/editable.png" height="10px" width="10px;"></h4>
            <div>
            </div>

            <span style="font-size:16px;color: #5c5c5c;display: block;">@Phone Number</span>
            <span style="font-size:16px;color: #5c5c5c;display: block;">@EMail</span>
            <span style="font-size:16px;color: #5c5c5c;display: block;">@Professional</span>

        </div>
    </div>
</div>

<!-- <div class="card card-noborder" style="padding:10px;margin-top: 10px;">
  <div style="text-align:center;margin: 10px 0px;">
    <span style="font-size:32px;">48</span>
  </div>
  <div style="text-align:center">
    <span style="font-size:16px;color:#5c5c5c">Points Available</span>
  </div>
</div> 
<div style="margin-top: 10px;margin-bottom: 10px;">
  <button class="btn btn-success" type="button" style="width: 100%;">Add Points</button>
</div>-->

<app-wall-profile-count [UserCount]=""></app-wall-profile-count>