<div class="container" style="margin-top:20px;">
    <h3>Profile</h3>
    <div class="col-md-12" style="text-align:center;margin-top: 15px;margin-bottom: 25px;">
        <div>
            <img src="assets/Image/employee1.jpg" height="160px" width="160px" style="border-radius:50%">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card100">
                <div class="card100-heading">
                    <span class="F16 Bold LightBlack"><i class="fas fa-hashtag"
                            style="color: #247ba0;;margin-right: 10px"></i>Profile</span>
                </div>
                <div class="card100-content">
                    <div class="col-md-12">
                        <span class="F12 LightBlack" style="display: block;">Name:</span>
                        <!-- <input *ngIf="1==0" type="text" class="form-control" value="KRISHNAN RA" id="usr"
                        style="padding: 30px 20px;font-size: 20px;"> -->
                        <span class="Black F18" style="padding: 10px 0px;font-size: 20px;display: block;">Krishnan
                            RA</span>
                    </div>

                    <div class="col-md-12">
                        <span class="F12 LightBlack" style="display: block;">Phone:</span>
                        <!-- <input *ngIf="1==0" type="text" class="form-control" value="98989898**" id="usr"
                        style="padding: 30px 20px;font-size: 20px;"> -->
                        <span class="Black F18"
                            style="padding: 10px 0px;font-size: 20px;display: block;">98989898**</span>
                    </div>


                    <div class="col-md-12">
                        <span class="F12 LightBlack" style="display: block;">Email:</span>
                        <!-- <input *ngIf="1==0" type="text" class="form-control" value="krishnanra@gmail" id="usr"
                        style="padding: 30px 20px;font-size: 20px;"> -->
                        <span class="Black F18"
                            style="padding: 10px 0px;font-size: 20px;display: block;">krishnanra@gmail</span>
                    </div>

                    <div class="col-md-12">
                        <span class="F12 LightBlack" style="display: block;">Professional:</span>
                        <!-- <input *ngIf="1==0" type="text" class="form-control" value="krishnanra@gmail" id="usr"
                        style="padding: 30px 20px;font-size: 20px;"> -->
                        <span class="Black F18" style="padding: 10px 0px;font-size: 20px;display: block;">Student</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="card100" id="">
                <div class="card100-heading">
                    <span class="F16 Bold LightBlack"><i class="fas fa-hashtag"
                            style="color: #247ba0;;margin-right: 10px"></i>Your topics</span>
                </div>
                <div class="card100-content">
                    <app-topic-badges-a></app-topic-badges-a>
                </div>
            </div>
        </div>
    </div>
</div>