div.circletag {
    display: block;
    width: 50px;
    height: 50px;
    background: #b7b7b7;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

div.circletag>img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

div.circletag.Active {
    background: #ff854c;
}

.IconSpan {
    text-align: center;
    margin-left: -5px;
    font-size: 14px;
}

.IconSpan.Active {
    color: #ff854c;
    font-weight: 500;
}

.form-control {
    box-shadow: none;
    border-color: #ddd;
}

.form-control {
    border-bottom: 1px solid #ced4da;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-radius: 0px;
}


/* FOR INSTITUTION LIST */

.container2 {
    width: 100%;
    height: auto;
    padding: 1%;
}

.postfrom {
    font-family: PostMessageFont1;
}

.posttime {
    color: #5c5c5c;
}

.postsubject {
    border-bottom: 1px solid #999999;
    color: #5c5c5c;
    float: right;
    font-size: x-small;
    margin-right: 5px;
}

.iconDetails {
    margin-left: 2%;
    float: left;
    height: 40px;
    width: 40px;
}

.bottom>* {
    vertical-align: bottom;
}

.bottom a {
    display: inline-block;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}


/* .card{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px;
} */

.InterestedSpan {
    padding: 5px 15px;
    border: 1px solid #484848;
    border-radius: 20px;
    margin-right: 10px;
}




.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

  select::-ms-expand {
    display: none;
    }
    
    .selectdiv:after {
      font: 17px "Consolas", monospace;
      color: #333;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/
      
      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid #999;
      /*left line */
      
      position: absolute;
      pointer-events: none;
    }
    