<div class="card100">
    <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader> -->
    <div class="card100-content" style="padding: 14px;">
        <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader>  -->
        <div class="" style="display: block;">
            <span class="statusspan" *ngIf="webinardata.registration_title=='Registered'"
                style="background-color: #e5992a;">{{webinardata.registration_title}}</span>
            <span class="statusspan" *ngIf="webinardata.registration_title=='Confirmed'"
                style="background-color: #28a745;">{{webinardata.registration_title}}</span>
            <span class="statusspan" *ngIf="webinardata.registration_title=='Rejected'"
                style="background-color: #d24956;">{{webinardata.registration_title}}</span>
            <span class="statusspan" *ngIf="webinardata.registration_title=='Filled'"
                style="background-color: #d24956;">{{webinardata.registration_title}}</span>
        </div>
        <div style="padding: 10px 10px 0px 10px">
            <div class="d-flex" style="border-bottom: 1px solid #f1f1f1 ">
                <div class="flex-grow-1">
                    <div style="display: block;">
                        <span (click)="GoToWebinarDetail(onlineclassdata.webinarid)"
                            class="onlineTopicHeading">{{webinardata.heading}}</span>
                    </div>

                </div>
            </div>

            <div class="descriptionshort" style="display: block;margin-top: 14px;
        margin-bottom: 14px;
        line-height: 1.75;">
                <span class="onlineTopicDescription">
                    <span style="font-size: 12px;">{{webinardata.description}}</span>
                </span>
            </div>


            <div style="margin-top: 14px;">
                <div class="d-flex">
                    <div class="p-2">
                        <img src="../../../assets/Image/{{webinardata.organiserimage}}"
                            style="width: 48px;height:48px;border-radius: 50%;" (click)="GoToOrganiser(webinardata.organiserid)">
                    </div>
                    <div class="p-2 flex-grow-1">
                        <span class="tutorname" style="display: block;" (click)="GoToOrganiser(webinardata.organiserid)">{{webinardata.organisername}}</span>
                    </div>
                </div>



            </div>
            <div class="d-flex" style="margin-top: 10px;">
                <div class="p-1 flex-fill">
                    <span class="onlineSubHeading2" style="display: block;">when</span>
                    <span class="onlineSubDescription2"
                        style="display: block;">{{webinardata.webinardate | date:'short'}}</span>

                </div>
                <div class="p-1 flex-fill">
                    <span class="onlineSubHeading2" style="display: block;">Participant</span>
                    <span class="onlineSubDescription2">{{webinardata.maxparticipantscount}}</span>
                </div>
                <div class="p-1 flex-fill">
                    <span class="onlineSubHeading2" style="display: block;">Platform</span>
                    <span class=""><i class="fas fa-video"></i>
                        {{webinardata.platform_title}}</span>
                </div>
                <div class="p-1 flex-fill">
                    <span class="onlineSubHeading2" style="display: block;">Fee</span>
                    <span class="free" *ngIf="webinardata.webinarfee==0">Free</span>
                    <span class="" *ngIf="webinardata.webinarfee!=0">{{webinardata.webinarfee}} <i
                            class="fas fa-rupee-sign"></i></span>
                </div>
            </div>
            <div class="d-flex justify-content-end" *ngIf="onlineclassdata.status!=1"
                style="margin-top: 5px;border-top: 1px solid #f8f8f8;">

                <div class="" style="padding: 10px;
          text-align: center;    
          margin-top: auto;
          margin-bottom: auto;">
                    <span class="platformtag"><i class="fas fa-video"></i>
                        {{webinardata.platform_title}}</span>
                </div>
                <div class="" style="padding: 10px;
            text-align: center;    
            margin-top: auto;
            margin-bottom: auto;">
                    <span class="pricetag  free" *ngIf="webinardata.webinarfee==0">Free</span>
                    <span class="pricetag" *ngIf="webinardata.webinarfee!=0"> {{webinardata.webinarfee}} <i
                            class="fas fa-rupee-sign"></i></span>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-12" style="margin-top: 10px;
    border-top:1px solid #f0f0f0;
    padding: 10px 0px" *ngIf="onlineclassdata.status==1">
            <div class="col-md-6">
                <span class="onlineSubHeading" style="display: block;"> <i class="fas fa-video"></i>
                    {{onlineclassdata.platform}}</span>
                <span class="onlineSubDescription" style=" word-break: break-all;">www.zoom.com/j/awasadsad</span>
            </div>
            <div class="col-md-6" style="margin-top: auto;margin-bottom: auto;">
                <span class="onlineSubDescription" style="display: block;">Room ID:46153693</span>
                <span class="onlineSubDescription" style="display: block;">Password:4210</span>
            </div>

            <!-- <div>
    <input type="button" class="btn" value="view" />
  </div> -->
        </div>
        <div class="d-flex col-md-12" style="margin-top: 10px; 
        border-top:1px solid #f0f0f0;
        padding: 10px 0px" *ngIf="onlineclassdata.status==1">
            <div class="col-md-6">
                <span class="onlineSubHeading" style="display: block;"> <i class="fas fa-rupee-sign"></i>
                    Transaction</span>
                <span class="pricetag  free" *ngIf="onlineclassdata.fee==0">Fee: Free</span>
                <span class="pricetag" *ngIf="onlineclassdata.fee!=0">Fee: {{onlineclassdata.fee}} <i
                        class="fas fa-rupee-sign"></i></span>
            </div>
            <div class="col-md-6" *ngIf="onlineclassdata.fee!=0" style="margin-top: auto;margin-bottom: auto;">
                <span class="onlineSubDescription" style="display: block;">Room ID:46153693</span>
                <span class="onlineSubDescription" style="display: block;">Password:4210</span>
            </div>

            <!-- <div>
        <input type="button" class="btn" value="view" />
      </div> -->
        </div>

    </div>


</div>