<div class="card-online-class-a boxshadowcard2" style="margin-bottom: 25px;" *ngFor="let post of postdetails" (click)="GoToTestPaper(QuesPapLink.QuestionPaperId)">
   <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader>  -->
    <div class="" style="display: block;">
        <span class="statusspan" *ngIf="post.status==1" style="background-color: #28a745;">Accepted</span>
        <span class="statusspan" *ngIf="post.status==2" style="background-color: #d24956;">Rejected</span>
        <span class="statusspan" *ngIf="post.status==0" style="background-color: #e5992a;">Pending</span>
    </div>
    <div style="padding: 10px 10px 0px 10px">
        <div class="d-flex" style="border-bottom: 1px solid #f1f1f1 ">
            <div class="flex-grow-1">
                <div style="display: block;">
                    <span class="onlineTopicHeading">Master 'Reading Skills' for CBSE 10th Board Reading Skills' for
                        CBSE 10th Board</span>
                </div>

            </div>
        </div>
        <div style="margin-top: 15px;">
            <div class="d-flex">

                <div class="p-2">
                    <img src="../../../assets/Image/elonmusk1.jpg" style="width: 72px;height:72px;border-radius: 10px;">
                </div>
                <div class="p-2 flex-grow-1">
                    <span class="onlineSubHeading" style="display: block;">Tutor</span>
                    <span class="tutorname" style="display: block;">S.Bala Krishnan</span>
                    <div style="display: block;">
                        <span class="tutordescription">13 Yrs , M.A, B.Ed </span>

                    </div>
                </div>
            </div>



        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4">
                <span class="onlineSubHeading" style="display: block;">Date</span>
                <span class="onlineSubDescription">3-Jun 16:30 PM</span>
            </div>
            <div class="col-md-4">
                <span class="onlineSubHeading" style="display: block;">Duration</span>
                <span class="onlineSubDescription">30 Mins</span>
            </div>
            <div class="col-md-4">
                <span class="onlineSubHeading" style="display: block;">Platform</span>
                <span [className]="onlineSubDescription">
                  {{post.platform}}              
                </span>
            </div>
        </div>


        <div class="row" style="margin-top: 15px;
        background-color: #bfbfbf;
        padding: 10px 0px" *ngIf="post.status==1">
            <div class="col-md-6">
                <span class="onlineSubHeading" style="display: block;">URL</span>
                <span class="onlineSubDescription" style=" word-break: break-all;">www.zoom.com/j/awasadsad</span>
            </div>
            <div class="col-md-6" style="margin-top: auto;margin-bottom: auto;">
                <span class="onlineSubDescription" style="display: block;">Room ID:46153693</span>
                <span class="onlineSubDescription" style="display: block;">Password:4210</span>    
            </div>

            <!-- <div>
        <input type="button" class="btn" value="view" />
      </div> -->
        </div>

    </div>


</div>