<div class="row card100" style="margin-left: 10px;">
  <div class="col-md-4">
    <div class="" style="text-align: center;border-radius: 14px;">
      <div style="text-align:center;margin-top: 20px;margin-bottom: 10px;">
        <img src="assets/Image/employee1.jpg" class="rounded-circle" alt="Cinque Terre" width="90" height="90">
      </div>
      <div style="margin-bottom: 14px;">
        <span class="F12 PrimaryColor" style="display: block;">@userid</span>
        <span class="PrimaryColor" style="margin-bottom: 5px;" class="F16">S. Ramalingam</span>
        <span class="F12 PrimaryColor" style="display: block;margin-bottom: 14px;">M.Tech Physics | 12 Years
          Exp</span>
        <span style="margin-bottom: 5px;" class="PrimaryColor F12" style="display: block;margin-bottom: 8px;">@Followers
          Count</span>
        <input type="button" class="btn regisbutn-follow-small-color" value="Follow" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="" style="line-height: 20px;margin-top: 14px;">
      <div class="card100-heading">
        <span style="display: block;" class="F16">Contact</span>
      </div>
      <div class="card100-content">
        <span class="F12 LightBlack" style="display: block;margin-bottom: 5px;"><i style="margin-right: 5px;"
            class="fas fa-mobile-alt"></i> @Phone Number</span>
        <span style="margin-bottom: 5px;" class="F12 LightBlack" style="display: block;margin-bottom: 5px;"><i
            style="margin-right: 5px;" class="fas fa-envelope"></i> @EMail</span>
        <span style="margin-bottom: 5px;" class="F12 LightBlack" style="display: block;margin-bottom: 5px;"><i
            style="margin-right: 5px;" class="fas fa-briefcase"></i>@Professional</span>
        <span style="margin-bottom: 5px;" class="F12 LightBlack" style="display: block;margin-bottom: 5px;"><i
            style="margin-right: 5px;" class="fas fa-briefcase"></i>@Website</span>
        <div class="" style="display: block;margin-top: 14px;">
          <i style="" class="fab fa-instagram"></i>
          <i style="margin-left: 10px;" class="fab fa-facebook-f"></i>
          <i style="margin-left: 10px;" class="fab fa-youtube"></i>
          <i style="margin-left: 10px;" class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="" style="line-height: 20px;margin-top: 14px;">
      <div class="card100-heading">
        <span style="display: block;" class="F16">Topics</span>
      </div>
      <div class="card100-content">
        <app-topic-badges-a></app-topic-badges-a>
      </div>
    </div>
  </div>
</div>