<div class="card app-wall-suggestion card-noborder">
    <div id="feedback">
        <div>
            <span class="headings-small">Feedback</span></div>
        <app-feedback-a></app-feedback-a>
    </div>
    <div id="userfavtopic" style="margin-top: 25px;">
        <div>
            <span class="headings-small">Topics</span>
            <div style="display: block;" style="margin-top: 10px;">
                <app-topic-badges-a></app-topic-badges-a>
            </div>
        </div>
    </div>
</div>