<div class="ani-from-bottom" style="margin-top:20px;">
    <!-- <app-banner></app-banner> -->
    <div class="row">
        <!-- <div class="col-md-3">
      <app-iwallprofilecount></app-iwallprofilecount></div> -->
        <div class="col-md-9">
            <app-inst-post-list-b [walldata]="PostDetails"></app-inst-post-list-b>
            <!-- <app-profile></app-profile>
      <app-follow-page></app-follow-page>
      <app-notification></app-notification>
      <app-performance-page></app-performance-page> -->

        </div>
        <div class="col-md-3">
            <app-inst-badges-card></app-inst-badges-card>
            <!-- <app-iwall-performance></app-iwall-performance> -->
        </div>
    </div>
</div>