<div class="" style="margin-bottom:5px">
    <input type="text" placeholder="Search Friends" class="form-control" [(ngModel)]="SearchFriends">
</div>
<div style="margin-bottom:5px">
    <div class="card-noborder">

        <div class=''>
            <div *ngFor="let UsrFrdlst of UserFriendList | search:'Username':SearchFriends">
                <div class="d-flex mb-3">
                    <div class="p-2 flex-grow-1">
                        <img src="{{UsrFrdlst.UserImage}}" class="iconDetails" alt="name">
                        <div class='container2'>
                            <div style='margin-left:60px;'>
                                <div style="display: block;"><span class="F14 Black">{{UsrFrdlst.Username}}</span></div>
                                <div style="float:left;display: block"><span class="F12 LightBlack">{{UsrFrdlst.userid}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;align-items: center;">
                        <span class="F12 LightBlack">{{UsrFrdlst.lastused}} Followers</span>
                    </div>
                    <div class="p-2" style="display: flex;justify-content: center;align-items: center;">
                        <input type="button" value="Unfollow" class="regisbutn-small" />
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>