.container2 {
    width: 100%;
    height: auto;
    padding: 1%;
}

.postfrom {
    font-size: 15px;
    color: #404040;
    font-weight: 400;
    font-family: PostMessageFont1;
}

.posttime {
    color: #5c5c5c;
}

.postsubject {
    border-bottom: 1px solid #999999;
    color: #5c5c5c;   
    font-size: x-small;
    margin-right: 5px;
}

.iconDetails {
    height:64px;
    width: 64px;
    border-radius: 50%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #247ba0;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #247ba0;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #247ba0;
  }

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    width: 190px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51,51,51,0.9);
    border: 1px solid rgba(34,34,34,0.9);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: -80px;
    bottom: 40px;
}

.tooltip:before,.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(51,51,51,0.9);
    position: absolute;
    bottom: -10px;
    left: 43%;
}

.tooltip-container:hover .tooltip,a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}