<div class="" style="margin-bottom:5px">
    <input style="border: none; margin-left: 15px;  
    border-bottom: 1px solid #247ba0;" type="text" placeholder="Search Organisers" class="form-control"
        [(ngModel)]="SearchFriends">
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-4" *ngFor="let UsrFrdlst of UserFriendList | search:'Username':SearchFriends">
        <div class="boxshadowcard d-flex flex-column" style="text-align: center;">
            <div style="text-align: center;margin-top: 10px;">
                <img src="{{UsrFrdlst.UserImage}}" class="iconDetails" alt="name">
            </div>
            <div style="margin-top: 10px;">
                <span class="F14 Black">{{UsrFrdlst.Username}}</span>
            </div>
            <div style="margin-top:-10px;display: block">
                <span class="F12 LightBlack">{{UsrFrdlst.userid}}</span></div>
            <div>
                <span style="font-size: 10px;" class="LightBlack">{{UsrFrdlst.lastused}} Followers</span>
            </div>
            <div>
                <input type="button" value="Unfollow" class="regisbutn-small" />
            </div>
        </div>
    </div>

</div>