<div class="container">
  <div style="margin-top:10px">
      <button class="btn btn-default" (click)="Login()"><- Go back To Login!</button>
  </div>
  <div class="card boxshadowcard" style="padding:20px;margin-top:10px">  
    <div style="text-align:center">
    <h3 class="Color">Welcome to EduSociale</h3>
  </div>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group">
      <label for="pwd">Re Enter Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Re Enter password" name="pswd">
    </div>
    <div class="form-group">
        <label for="qid">Enter Question:</label>
      <select id="qid"  class="form-control" >
        <option value="1">Mother Name</option>
        <option value="2">Favourite Number</option>
        <option value="3">Favourite Day</option>
        <option value="4">Favourite Month</option>
      </select>
    </div>
    <div class="form-group">
      <label for="enteranswer">Answer:</label>
      <input type="text" class="form-control" id="enteranswer" placeholder="Answer" name="enteranswer">
    </div>
    <div class="form-group">
      <label for="Phone">Phone:</label>
      <input type="Phone" class="form-control" id="pwd" placeholder="Enter Phone" name="Phone">
    </div>
    <div style="text-align:center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>
</div>