.NavButtons.Active {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ff854c;
    color: #ff854c;
    font-weight: 600;
  }
  
  .NavButtons {
    padding: 10px;
    background-color: #f0f0f0;
    border: 0px;
  }
  