
<div id="reqpart" class="d-flex mb-3" *ngFor="let st of studentinvitationlist">
  <div class="flex-grow-1">
    <div class="TotalHeading">
      <span class="topic-head-small-2"> {{st.name}}</span>
      <span class="topic-desc-small-1" style="display:block">Date / Time</span>
    </div>
  </div>
  <div class="">
    <div style="padding:5px 0px">
      <img src="../../../assets/Icons/accept.png" style="height: 18px;width: 18px;" />
      <img src="../../../assets/Icons/close.png" style="height: 18px;width: 18px;margin-left: 10px;" />
    </div>
  </div>
</div>