<div class="" style="margin-bottom:5px">
    <div class="card boxshadowcard">     
        <div class="d-flex ">
            <div class="">
                <div class='container2 MB10'>
                    <div>
                      <img src="{{MutualFriendData.UserImage}}" class="iconDetails" alt="Cinque Terre" style=" border-radius: 50%;">
                    </div>
                    <div style='margin-left:60px;'>
                      <span class="postfrom">{{MutualFriendData.Username}}</span>
                      <div style="float:right;"></div>
                    </div>
                  </div>
                  <div class="F12 MT10" style="font-size:.75em;padding: 5px;">
                    <span class="posttime">{{MutualFriendData.UserAbout}}</span>
                  </div>
                  <div class="F12" style="font-size:.75em;padding: 5px;">
                      <span class="Black">{{MutualFriendData.MutualFriendCount}}102  Mutual Friends</span>
                    </div>
            </div>                           
          </div>
          <div class="" style="text-align: center">
              <span class="F14 Color Bold">Connect</span>
          </div>        
    </div>
  </div>