<app-navbar></app-navbar>
<div class="container qpcontainer" style="margin-top:60px">
    <div class="" style="padding:10px;">
        <div class="col-lg-12 row">
            <div class="input-field">
                <input class="input-material" type="text" id="name" required />
                <label class="label-material" for="name">Enter Heading:</label>
            </div>
        </div>
        <div class="col-lg-12 row" style="margin-top: 10px; ">
            <span>Description:</span>
            <textarea class="form-control" [(ngModel)]="questionHeading" rows="5" id="comment "></textarea>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <div style="display: block;">
                    <span>Date</span>
                </div>
                <div style="display: block;" class="form-control" (click)="hidecalender()">
                    <span *ngIf="!selectedDate">Choose Date</span>
                    <span *ngIf="selectedDate">Change Date</span>
                    <i style="float: right;" class="far fa-calendar-alt"></i>
                </div>
                <span style="font-size: 12px;">{{selectedDate}}</span>
                <dl-date-time-picker style="font-size: 12px;" [ngStyle]="(IsCalenderShowing) ? {'display': 'block'} : {'display': 'none'}" leftIconClass="fas fa-chevron-left" rightIconClass="fas fa-chevron-right" startView="day" maxView="year" minView="minute" minuteStep="10"
                    [(ngModel)]="selectedDate">
                </dl-date-time-picker>
            </div>


            <div class="col-lg-4 ">
                <span>Duration</span>
                <select class="form-control " [(ngModel)]="totalQuestions " (change)="onQuestionCountChange($event.target.value) ">
          <option value="5 ">15 Mins</option>
          <option value="10 ">30 Mins</option>
          <option value="15 ">45 Mins</option>
          <option value="20 ">1 Hour</option>
          
        </select>
            </div>

        </div>


        <div class="row" style="margin-top: 10px;">

            <div class="col-lg-12">

                <span style="display: block;">Platform</span>
                <div class="box flex-wrap">
                    <label>
  <input type="radio" name="Platform" checked="">
  <span>Zoom</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Google Hangout</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Cisco Web Ex</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Skype</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Skype</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Zoho Meetings</span>
</label>
                    <label>
  <input type="radio" name="Platform">
  <span>Amazon Chime</span>
</label>
                </div>
            </div>



            <!-- <div class="col-lg-4 ">
                <span>Language</span>
                <select class="form-control " [(ngModel)]="totalQuestions " (change)="onQuestionCountChange($event.target.value) ">
                <option value="5 ">English</option>
                <option value="5 ">Tamil</option>
                <option value="5 ">Hindi</option>
                </select>
            </div> -->
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-4" style="margin-top: auto;">
                <span style="display: block;">Fee</span>
                <div class="box">
                    <label>
                <input type="radio"  value="free"  [(ngModel)]="chooseWebinarFee" name="chooseWebinarFee" checked="">
                <span>Free</span>
            </label>
                    <label>
                <input type="radio" value="charge" [(ngModel)]="chooseWebinarFee" name="chooseWebinarFee">
                <span>Charge</span>
            </label>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: auto;" *ngIf="chooseWebinarFee=='charge'">
                <div class="input-field">
                    <input class="input-material" type="text" id="MaxCount" required />
                    <label class="label-material" for="MaxCount">Enter Registration Cost:</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-lg-4" style="margin-top: auto;">
                <span style="display: block;">Open</span>
                <div class="box">
                    <label>
                <input type="radio" name="like" checked="">
                <span>Open</span>
            </label>
                    <label>
                <input type="radio" name="like">
                <span>Limited</span>
            </label>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: auto;">
                <div class="input-field">
                    <input class="input-material" type="text" id="MaxCount" required />
                    <label class="label-material" for="MaxCount">Enter Max Count:</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" style="margin-top: 35px;">

            <div style="margin-top:10px;">
                <button class="btn btn-success btnPost">Post</button>
            </div>
        </div>


    </div>


</div>

<div id="myModal" *ngIf="ShowModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closemodal()">&times;</span>
        <div *ngFor="let qbmodel of questionbank;let inmodel = index">


            <p>
                <span style="font-weight: 600;">{{inmodel+1}}. {{questionbank[inmodel].question}}</span>
            </p>
            <ul>
                <li>a.) {{questionbank[inmodel].optiona}}</li>
                <li>b.) {{questionbank[inmodel].optionb}}</li>
                <li>c.) {{questionbank[inmodel].optionc}}</li>
                <li>d.) {{questionbank[inmodel].optiond}}</li>
                <li>anser. ) <span style="color: green;">{{questionbank[inmodel].answer}}</span></li>
                <li>hint. ) {{questionbank[inmodel].hint}}</li>
                <li><img [src]="questionbank[inmodel].image" style="max-height: 360px;"> <br /></li>
            </ul>

        </div>

        <p>Some text in the Modal..</p>
    </div>

</div>