<div style="margin-top:30px;">
  <h5>You Own</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="padding: 10px;">
        <div class='container2 '>
          <div>
            <img src="assets/Image/employee2.jpg" class="iconDetails" alt="Inst Img" style=" border-radius: 50%;">
          </div>
          <div style='margin-left:60px;'>
            <span class="postfrom LightBlack F14">Institution Name</span>
            <div style="float:right;"></div>
            <div style="font-size:.7em">
              <span class="posttime"> Users: 389</span>
            </div>
          </div>
        </div>
        <div style="margin-top:10px;">
          <input type="button" class="btn btn-block" style="color: #6c6c6c;border-color: #6c6c6c;background-color: white;" value="Go To Page">
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="padding: 10px;">
        <div class='container2 '>
          <div>
            <img src="assets/Image/employee2.jpg" class="iconDetails" alt="Inst Img" style=" border-radius: 50%;">
          </div>
          <div style='margin-left:60px;'>
            <span class="postfrom LightBlack F14">Institution Name</span>
            <div style="float:right;"></div>
            <div style="font-size:.7em">
              <span class="posttime"> Users: 389</span>
            </div>
          </div>
        </div>
        <div style="margin-top:10px;">
          <input type="button" class="btn btn-block" style="color: #6c6c6c;border-color: #6c6c6c;background-color: white;" value="Go To Page">
          </div>
      </div>
    </div>
  </div>
</div>