<div style="border-bottom: 1px solid #f7f7f7;
overflow: hidden;
padding: 5px 0px;
">
    <div class="">
        <div class="row" style="margin-left:0px;margin-right: 0px;">
            <div class="TotalHeading">
                <span class="topic-head-small-2">Topic Heading</span>
                <span class="topic-desc-small-1" style="display:block">1Date / Time</span>
            </div>

        </div>

    </div>
    <div style="padding:5px 0px">
        <span class="badge badge-success">Get Ready</span>
    </div>
</div>
<div style="border-bottom: 1px solid #f7f7f7;
overflow: hidden;
padding: 5px 0px;
">
    <div class="">
        <div class="row" style="margin-left:0px;margin-right: 0px;">
            <div class="TotalHeading">
                <span class="topic-head-small-2">Topic Heading</span>
                <span class="topic-desc-small-1" style="display:block">1Date / Time</span>
            </div>

        </div>

    </div>
    <div style="padding:5px 0px">
        <span class="badge badge-warning">Get Ready</span>
    </div>
</div>