<div class="card100">
    <div class="card100-heading">
        <h5 class="Black"> Webinars</h5>
    </div>
    <div class="card100-content">
      
        <table class="table">
            <tr *ngFor="let webdata of webinardata" >
              
                <td  class="" style="width: 50%;">
                    <span class="F12" style="display: block;" (click)="gotoWebinar(webdata.webinarid)">{{webdata.webinarid}}</span>
                    <span class="F12">{{webdata.webinardate | date:'short'}}</span>
                    <span class="F12" style="display: block;">{{webdata.heading}}</span>
                    <span class="F12">DR.Rathore M.B.B.S</span>
                </td>
                <td  class="w-20" style="width: 10%;">
                    <span class="F12" style="display: block;">5/{{webdata.maxparticipantscount}}</span>                   
                </td>
                <td  class="col-md-2" style="width: 10%;">
                    <span class="" style="color: #0e987d;
                    background-color: #a0dacf;border-radius: 10px;font-size: 9px;padding: 5px;"> <i style="margin-right: 3px;"
                        class="fas fa-rupee-sign"></i>
                      <span *ngIf="webinardata.webinarfee==0">Free</span>
                      <span *ngIf="webinardata.webinarfee!=0" style="margin-right: 5px;">{{webdata.webinarfee}}</span>
                      <!-- <i style="margin-right: 5px;"class="far fa-hourglass"></i> -->
            
                    </span>
                </td>
                <td  class="w-20" style="width: 20%;">
                    <div class="" style="text-align: center;    
                    margin-top: auto;
                    margin-bottom: auto;">
                                <span class="platformtag2" style="font-size: 14px !important;"><i class="fas fa-video"
                                        style="color: orange;margin-right: 3px;"></i>
                                    {{webdata.platform_title}}</span>
                            </div>
                    <!-- <span class="F12">Zoom</span> -->
                </td>
                <td  class="w-20" style="width: 10%;">
                    <i (click)="valueChanged(webdata.webinarid)" class="fas fa-chevron-circle-right PrimaryColor2"></i>
                </td>
            </tr>
        </table>
    </div>
</div>
