<div class="card-online-class-a" (click)="GoToWebinarDetail(onlineclassdata.webinarid)">
  <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader> -->
  <div style="padding: 14px;">
      <div class="d-flex" style="border-bottom: 1px solid #f1f1f1 ">
          <div class="flex-grow-1">
              <div style="display: block;">
                  <span class="onlineTopicHeading">Master 'Reading Skills' for CBSE 10th Board</span>
              </div>
              <div class="descriptionshort" style="display: block;margin-top: 14px;
      margin-bottom: 14px;
      line-height: 1.75;">
                  <span class="onlineTopicDescription">

                      <ul style=" list-style-type: none;
          margin: 0;
          padding: 0;">
                          <li style="font-size: 12px;">Understand Kirchhoff's Current Law in this Live session</li>
                          <li style="font-size: 12px;">Learn to apply KCL and KVL in an Electrical Circuit</li>
                          <li style="font-size: 12px;">Understand Kirchhoff's Voltage Law with some simple examples
                          </li>
                          <li style="font-size: 12px;">Clear your doubts with Subject Expert Hemant Sir</li>
                      </ul>
                  </span>
              </div>
          </div>
      </div>
      <div style="margin-top: 14px;">
          <app-topic-badges-b></app-topic-badges-b>
      </div>
      <div style="margin-top: 14px;">
          <div class="row">
              <div class="col-md-6">
                  <div class="d-flex">
                      <div class="p-2">
                          <img src="../../../assets/Image/elonmusk1.jpg"
                              style="width: 72px;height:32px;border-radius: 10px;">
                      </div>
                      <div class="p-2 flex-grow-1">
                          <span class="onlineSubHeading" style="display: block;">Organiser</span>
                          <span class="tutorname" style="display: block;">S.Bala Krishnan</span>
                          <div style="display: block;">
                              <span class="tutordescription">13 Yrs , M.A, B.Ed </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="d-flex">
                      <div class="p-2">
                          <img src="../../../assets/Image/elonmusk1.jpg"
                              style="width: 72px;height:72px;border-radius: 10px;">
                      </div>
                      <div class="p-2 flex-grow-1">
                          <span class="onlineSubHeading" style="display: block;">Organiser</span>
                          <span class="tutorname" style="display: block;">S.Bala Krishnan</span>
                          <div style="display: block;">
                              <span class="tutordescription">13 Yrs , M.A, B.Ed </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" style="margin-top: 14px;">
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Date</span>
              <span class="onlineSubDescription">3-Jun 16:30 PM</span>
          </div>
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Duration</span>
              <span class="onlineSubDescription">30 Mins</span>
          </div>
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Language</span>
              <span class="onlineSubDescription">Eng/Tamil</span>
          </div>
      </div>

      <div class="row" style="margin-top: 14px;">
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Room Size</span>
              <span class="onlineSubDescription">15 Max</span>
          </div>
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Fees</span>
              <span class="onlineSubDescription">15Rs /-</span>
          </div>
          <div class="col-md-4">
              <span class="onlineSubHeading" style="display: block;">Platform</span>
              <span class="onlineSubDescription">Zoom</span>
          </div>
          <!-- <div>
      <input type="button" class="btn" value="view" />
    </div> -->
      </div>


  </div>

  <div class="d-flex justify-content-center" style="margin-top: 5px;margin-bottom: 5px;">
      <!-- <div class="flex-fill">
    <span>To Participate</span>      
    <input type="button" value="more" class="regismore" style="width: 100%;" /> 
  </div> -->
      <div class="p-2" style="padding: 10px;text-align: center;">
          <input type="button" class="regisbutn" value="Register" (click)="openmodal()" style="width: 100%;" />
      </div>

  </div>

</div>

<div id="myModal" class="modalpop" [class.modal-open]="isOpen" [class.modal-close]="!isOpen">

  <!-- Modal content -->
  <div class="modal-content">
      <span class="close" (click)="closemodal()">&times;</span>
      <div>
          <h5 style="color: #ff8952;">Confirm Registration</h5>

          <div style="display: block;">
              <span class="onlineTopicHeading">Master 'Reading Skills' for CBSE 10th Board</span>
          </div>

          <div class="row" style="margin-top: 14px;">
              <div class="col-md-4">
                  <span class="onlineSubHeading" style="display: block;">Date</span>
                  <span class="onlineSubDescription">3-Jun 16:30 PM</span>
              </div>
              <div class="col-md-4">
                  <span class="onlineSubHeading" style="display: block;">Duration</span>
                  <span class="onlineSubDescription">30 Mins</span>
              </div>
              <div class="col-md-4">
                  <span class="onlineSubHeading" style="display: block;">Platform</span>
                  <span class="onlineSubDescription">Zoom</span>
              </div>
          </div>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 14px;">
          <div style="margin-right: 5px;">
              <input type="button" class="regisbutn-cancel-small" value="Cancel" (click)="closemodal()" />

          </div>
          <div style="margin-left: 5px;">
              <input type="button" class="regisbutn-small" value="Confirm" />
          </div>
      </div>


  </div>

</div>