<div class="card card-noborder" style="margin-top:5px;">
    <div class="topic-head-small-2"><span class="F16 Color Bold">Performance</span></div>
    <ul>
        <li>
            <a><span class="LeftSideCard">Comments</span
        ><span class="RightSideCard">18 +</span></a
      >
    </li>
    <li>
      <a
        ><span class="LeftSideCard">Views</span
        ><span class="RightSideCard">18 +</span></a
      >
    </li>
    <li>
      <a
        ><span class="LeftSideCard">Q & A</span
        ><span class="RightSideCard">18 +</span></a
      >
    </li>
    <li>
      <a
        ><span class="LeftSideCard">Follow</span
        ><span class="RightSideCard">3 +</span></a
      >
    </li>
    <li>
      <a
        ><span class="LeftSideCard">Likes</span
        ><span class="RightSideCard">82 +</span></a
      >
    </li>
  </ul>
</div>