<div class="card">
    <div class="TotalDiv">
        <span class="F16 Color Bold">Your Topics</span>
      </div>
  <ul style="margin-top:10px;">
    <li class="InterestTopicList"><a><span class="InterestTopicSpan">TN Group 4 </span></a></li>
    <li class="InterestTopicList"><a><span class="InterestTopicSpan">CBSE 10th</span></a></li>
    <li class="InterestTopicList"><a><span class="InterestTopicSpan">Heat Map</span></a></li>
    <li class="InterestTopicList"><a><span class="InterestTopicSpan">Polymorphism</span></a></li>
    <li class="InterestTopicList"><a><span class="InterestTopicSpan">Thermodynamics</span></a></li>
  </ul>
</div>



<div class="card" style="margin-top:5px;">
    <div class="TotalDiv">
        <span class="F16 Color Bold">On Going</span>
      </div>
    <ul>
        <li><a><span class="F14 LightBlack">Test:Aerodynamics in tesla cars from ACA Academy</span></a></li>
       
        <li><a><span class="F14 LightBlack">Seminar:Aerodynamics Basics from ACA Academy</span></a></li>
      </ul>
</div>