<div class="card100">
    <div class="card100-heading">
        <span class="F16 Bold LightBlack"><i class="fas fa-hashtag" style="color: #247ba0;;margin-right: 10px"></i>Trending</span>
    </div>
    <div class="card100-content">
        <!--<div class="col-md-8"> -->
        <div class="d-flex" style="margin-bottom: 15px;border-bottom:1px solid #eeeeee ;" *ngFor="let top of topiclist">
            <span class="LightBlack F12">{{top}}</span>
        </div>
    </div>
</div>
<!-- <app-ipost [data]="post"></app-ipost> -->
<!-- </div> -->