ul {
    margin-bottom: 10px;
    list-style: none;
    margin-left: -25px;
}

.InterestTopicList {
    margin-bottom: 10px;
}

.InterestTopicSpan {
    font-size: 14px;
    color: #3d3d3d;
    border: 1px solid #3d3d3d;
    padding: 3px 5px;
    border-radius: 10px;
}

.headingsuggestion {
    text-align: left;
    padding: 5px 0px 5px 10px;
    color: #3d3d3d;
}

a.AddMemmber {
    color: #808080;
}

.AddMemmber {
    float: right;
    font-size: 12px;
    background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    padding: 1px 10px;
    color: #808080;
    border-radius: 5px;
}

.TotalHeading {
    font-size: 14px;
    color: #4a4a4a;
}

.topiclist {
    background-color: #e0e0e0;
    padding: 5px 14px;
    color: #5c5c5c;
    border-radius: 14px;
}