ul {
    margin-bottom: 10px;
    list-style: none;
    margin-left: -25px;
  }
  .InterestTopicList
  {
    margin-bottom:10px; 
  }
  .InterestTopicSpan {
    font-size: 14px;
    color: #424242;
    border:1px solid #424242;
    padding: 3px 5px;
    border-radius: 10px;
  }
  
  .headingsuggestion {
    text-align: left;
    padding: 5px 0px 5px 10px;
    color: #424242;
  }
  a.AddMemmber {
    color: #808080;
  }
  .AddMemmber {
    float: right;
    font-size: 12px;
    background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    padding: 1px 10px;
    color: #808080;
    border-radius: 5px;
  }
  .TotalDiv {
    padding: 10px 20px 0px 15px;;
    color: #424242;
  }
  .TotalHeading {
    font-size: 14px;
    color: #4a4a4a;
  }
  