<div class="card" style="margin:10px 0px;padding:5px">
    <div class="TotalDiv">
      <span class="TotalHeading">Post</span><span class="TotalResult">{{UserWallUserCountData.totalpost}}</span>
    </div>
  
    <div class="TotalDiv">
      <span class="TotalHeading">Followers</span><span class="TotalResult">{{UserWallUserCountData.totalfollowers}}</span>
    </div>
    <div class="TotalDiv">
      <span class="TotalHeading">Following</span><span class="TotalResult">{{UserWallUserCountData.totalfollowing}}</span>
    </div>
    <div class="TotalDiv">
      <span class="TotalHeading">QA</span><span class="TotalResult">{{UserWallUserCountData.totalqa}}</span>
    </div>
  </div>