<div class="card100">
    <!-- <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader> -->
    <div class="card100-content" style="padding: 15px;">
        <app-postheader [Name]="'Institution Name'" [Image]="'img'" [time]="'time'"></app-postheader>
        <div style="padding: 15px;">
            <div class="d-flex" style="border-bottom: 1px solid #f1f1f1 ">
                <div class="flex-grow-1">
                    <div style="display: block;">
                        <span class="onlineTopicHeading">Master 'Reading Skills' for CBSE 10th Board</span>
                    </div>
                    <div style="display: block;margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.75;">
                        <span class="onlineTopicDescription">

                            <ul style=" list-style-type: none;
            margin: 0;
            padding: 0;">
                                <li style="font-size: 13px;">Understand Kirchhoff's Current Law in this Live session
                                </li>
                                <li style="font-size: 13px;">Learn to apply KCL and KVL in an Electrical Circuit</li>
                                <li style="font-size: 13px;">Understand Kirchhoff's Voltage Law with some simple
                                    examples</li>
                                <li style="font-size: 13px;">Clear your doubts with Subject Expert Hemant Sir</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <span class="onlineSubHeading" style="display: block;">Tutor</span>
                <span style="display: block;">S.Bala Krishnan
                    <span class="tutordescription">13 Yrs , M.A, B.Ed </span>
                </span>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-4">
                    <span class="onlineSubHeading" style="display: block;">Date</span>
                    <span class="onlineSubDescription">3-Jun 16:30 PM</span>
                </div>
                <div class="col-md-4">
                    <span class="onlineSubHeading" style="display: block;">Fees</span>
                    <span class="onlineSubDescription">15Rs /-</span>
                </div>
                <div class="col-md-4">
                    <span class="onlineSubHeading" style="display: block;">Platform</span>
                    <span class="onlineSubDescription">Zoom</span>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    <span class="onlineSubHeading" style="display: block;">Transaction Date</span>
                    <span class="onlineSubDescription">3-Jun 16:30 PM</span>
                </div>
                <div class="col-md-6">
                    <span class="onlineSubHeading" style="display: block;">Transaction ID</span>
                    <span class="onlineSubDescription">42365891</span>
                </div>

            </div>

        </div>
    </div>
</div>