<div class="container hero-image">
    <div class="hero-text">
    <div>
      <h4 style="font-size:30px">Smart Minds Coaching</h4>
      </div>
      <div>
      <span>NEET | JEE</span>
      </div>
      <div class="d-flex justify-content-around">
  
        <div class="p-2 ml-auto ">
            <span class="F16">1.2k Following</span>
        </div>
      
      </div>
      <div class="d-flex justify-content-around  mb-3" style="margin-top:-10px;">
          <div class="p-2">
              <span class="F16">Location</span>
          </div> 
          <div class="p-2">
              <span class="F16">| Email</span>
          </div>  
        <div class="p-2  ml-auto ">
              <button style="color: #000000;
              background-color: #ffc107;padding:5px 25px">Follow</button>
          </div>
        
        </div>
    </div>
  </div>